<h1>Welcome!</h1>

<div style="text-align: center;">
    <h3>Main Address</h3>
    {{mainAddress}}

    <h3>Main DID</h3>
    {{mainDID}}

    <h3>Sign Content</h3>
    <button style="width: 100px; height: 40px;" (click)="sign()">Sign</button>

    <h3>Extrimian Sign Content</h3>
    <button style="width: 100px; height: 40px;" (click)="extrSign()">Extr Sign</button>

    <h3>Extrimian Identity Sign Content</h3>
    <button style="width: 100px; height: 40px;" (click)="extrIdentitySign()">Extr Identity Sign</button>

    <h3>Extrimian Decentralized Identity</h3>
    <button style="width: 150px; height: 40px;" (click)="createDIDAndAddAssertionMethod()">Create DID Owned by Me and
        add VM</button><br><br>
    <button style="width: 150px; height: 40px;" (click)="addAssertionMethod()">Add Assertion Method</button>
    
    <br>
    <button style="width: 100px; height: 40px;" (click)="logout()">Logout</button>

</div>