<div class="container">
  <div class="wrapper">

    <div class="title">User info</div>
    <app-item title="Main Address" [loading]="loadingMainAddress" [loader]="true">{{mainAddress}}</app-item>
    <app-item title="Main DID" [loading]="loadingMainDID" [loader]="true">{{mainDID}}</app-item>

    <div class="title">Sign</div>
    <app-item title="Sign Content">
      <app-button [loading]="loading" (click)="sign()">Sign Content</app-button>
    </app-item>

    <app-item title="Extrimian Sign Content">
      <app-button [loading]="loading" (click)="extrSign()">Extrimian Sign Content</app-button>
    </app-item>

    <app-item title="Extrimian Identity Sign Content">
      <app-button [loading]="loading" (click)="extrIdentitySign()">Extrimian Identity <br/> Sign Content</app-button>
    </app-item>

    <app-item title="Extrimian Decentralized Identity">
      <app-button [loading]="loading" (click)="createDIDAndAddAssertionMethod()">Create DID Owned by me <br/> and
        add VM</app-button>
    </app-item>

    <app-item title="Add Assertion Method">
      <app-button [loading]="loading" (click)="addAssertionMethod()">Add Assertion Method</app-button>
    </app-item>

  </div>
</div>
<img class="background" src="assets/home-illustr.png" alt="background"/>
