<div class="container">
  <div class="title">
    Take most of blockchain
    <br />
    complexity out of the way
    <br />
    <span class="extrimian-green">one platform</span>
  </div>
    <p class="text">
      Effortlessly integrate blockchain to your business
      <br />
      solution. Use our multi-networks APIs cloud
      <br />
      infrastructure to access nodes in minutes and
      <br />
      customize our wallet fo all your identity and
      <br />
      transaction needs.
    </p>
  <a class="learn-more" href="https://www.extrimian.com/" target="_blank" style="text-decoration: none"><app-button>learn more</app-button></a>
</div>
<img class="background" src="assets/home-illustr.png" alt="background"/>
