<div class="container">
  <div class="title">
    Seremos reconocidos como una
    <br />
    entidad modelo en el mundo
  </div>
    <p class="text">
      La ANH es la autoridad encargada de promover el
      <br />
      aprovechamiento óptimo y sostenible de los recursos
      <br />
      hidrocarburíferos del país, administrándolos
      <br />
      integralmente y armonizando los intereses de la
      <br />
      sociedad, el Estado y las empresas del sector
    </p>
  <a class="learn-more" href="https://www.anh.gov.co/" target="_blank" style="text-decoration: none"><app-button>contáctanos</app-button></a>
</div>
<img class="background" src="assets/anh-background.png" alt="background"/>
